@media only screen and (max-width: 600px) {
    body{
        margin: auto 15px;
    }
    .menu-section {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .menu-container img {
        margin-right: 2px;
        width: 39px;
    }
    .items-container {
        display: none;
    }
    .menu-container p{
        font-size: 24px;
        font-weight: 800;
    }
    main{
        max-width: 600px;
        margin: 18px auto;
    }
    .extra-img{
        display: block;
        height: 24px;
        width: 24px;
        margin-top: 30px;
    }

    .banner{
        height: 500px;
    }
    .banner-header{
        font-size: 24px;
        margin-top :10px ;
    }
    .banner-para{
        font-size: 13.5px;
        width: 320px;
        margin: 18px auto;
    }

    .banner-container{
        margin: 0;
    }
    .banner-button{
        width: 190px;
    }
    .where-go, .select-when,.find-now,.select-type{
        margin-left: 10px;
        font-size: 15px;
    }
    .select-when,.find-now,.select-type{
        margin-top: 0;
    }
    .tour-text h1{
        font-size: 20px;
    }
    .tour-text{
        width: 100%;
        margin: 30px auto;
    }
    .tour-para,li{
        font-size: 14px;
    }
    .tour-img{
        height: 382px;
        width: 100%;
    }
    .tour-container{
        display: flex;
        flex-direction: column;
        margin: 60px auto;
    }
    .destination-text h1{   
        margin: 0;
        font-size: 20px;
        font-weight: 800;   
    }
    .destination-text p{
        width: 350px;
        margin-bottom: 40px;
    }   











    .grid-container {
        grid-template-columns: 1fr;
    }
    .end-container{
        display: flex;
        flex-direction: column;
    }

    /* footer-section-responsive */
    .finishing-touch{
        background: rgba(19, 19, 24, 0.05);
        height: 370px;
        max-width: 100%;
    }
    .finishing-container{
        min-height: 50px;
        font-weight: 800;
        display: flex;
        font-size: 25px;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 0;
    }
    .finishing-container img{
        width: 25px;
        object-fit: cover;
        margin-right: 18px;
    }
    .final-para{
        font-weight: 400;
        font-size: 12px;
        color: #5A5A5D;
        width: 300px;
        margin-top: -20px;
    }
    .final-logo{
        font-size: 25px;
        margin: 10px auto;
    }
    .final-logo i{
        margin: 8px;
    }
    hr {
        border: none; 
        border-top: 1px solid #585858; 
        width: 90%;
        height: 1px;
        margin: 15px auto;
    }
    .last-text{
        font-weight: 400;
        font-size: 12px;
        color: #5A5A5D;
    }
}